name: SCRAM Checks

on:
  workflow_dispatch:
    inputs:
      pr-number:
        description: PR number
        required: true
        type: string

jobs:
  checks:
    uses: SegmentLinking/TrackLooper-actions/.github/workflows/checks.yml@use_reusable_workflows
    with:
      pr-number: ${{ inputs.pr-number }}
