name: SCRAM Checks

on:
  workflow_dispatch:
    inputs:
      pr-number:
        description: PR number
        required: true
        type: number
      required-prs:
        description: Comma-separated list of required PR numbers that must be merged before checks are run
        required: false
        type: string
      packages:
        description: Comma-separated list of extra packages to add
        required: false
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ inputs.pr-number }}-${{ inputs.required-prs }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  checks:
    name: SCRAM Checks
    uses: SegmentLinking/TrackLooper-actions/.github/workflows/checks.yml@main
    with:
      pr-number: ${{ inputs.pr-number }}
      required-prs: ${{ inputs.required-prs }}
      packages: ${{ inputs.packages }}
    secrets:
      app-id: ${{ secrets.APP_ID }}
      app-private-key: ${{ secrets.APP_PRIVATE_KEY }}