name: CMSSW Testing

on:
  workflow_dispatch:
    inputs:
      pr-number:
        description: PR number (if 0, use master and skip comparisons)
        required: true
        type: number
      required-prs:
        description: Comma-separated list of required PR numbers that must be merged before checks are run
        required: false
        type: string
      runs-on:
        description: Runner where to run the workflow
        required: true
        type: choice
        options:
          - ubuntu-latest
          - self-hosted
      low-pt:
        description: Run the low pT setup
        required: false
        type: boolean
      release:
        description: CMSSW release to use for testing
        required: false
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ inputs.pr-number }}-${{ inputs.required-prs }}-${{ inputs.runs-on }}-${{ inputs.low-pt }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  test:
    name: CMSSW Testing
    uses: SegmentLinking/TrackLooper-actions/.github/workflows/cmssw.yml@use_reusable_workflows
    with:
      pr-number: ${{ inputs.pr-number }}
      required-prs: ${{ inputs.required-prs }}
      runs-on: ${{ inputs.runs-on }}
      low-pt: ${{ inputs.low-pt }}
      release: ${{ inputs.release }}
    secrets:
      app-id: ${{ secrets.APP_ID }}
      app-private-key: ${{ secrets.APP_PRIVATE_KEY }}
      deploy-private-key: ${{ secrets.DEPLOY_PRIVATE_KEY }}