name: Nightly Testing

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  standalone:
    name: Standalone Testing
    uses: SegmentLinking/TrackLooper-actions/.github/workflows/standalone.yml@main
    with:
      pr-number: 0
      required-prs: ''
      runs-on: ubuntu-latest
      low-pt: false
      release: latest
      packages: ''
    secrets:
      app-id: ${{ secrets.APP_ID }}
      app-private-key: ${{ secrets.APP_PRIVATE_KEY }}
      deploy-private-key: ${{ secrets.DEPLOY_PRIVATE_KEY }}
      
  cmssw:
    name: CMSSW Testing
    uses: SegmentLinking/TrackLooper-actions/.github/workflows/cmssw.yml@main
    with:
      pr-number: 0
      required-prs: ''
      runs-on: ubuntu-latest
      low-pt: false
      release: latest
      packages: ''
    secrets:
      app-id: ${{ secrets.APP_ID }}
      app-private-key: ${{ secrets.APP_PRIVATE_KEY }}
      deploy-private-key: ${{ secrets.DEPLOY_PRIVATE_KEY }}
