name: Nightly Testing

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  start-tests:
    name: Start Tests
    runs-on: ubuntu-slim
    steps:
      - name: Start standalone tests
        uses: actions/github-script@v7
        with:
          script: |
            const { owner, repo } = context.repo;
            await github.rest.actions.createWorkflowDispatch({
              owner,
              repo,
              workflow_id: 'standalone.yml',
              ref: 'CI_branch',
              inputs: {
                'pr-number': '0',
                'required-prs': '',
                'runs-on': 'ubuntu-latest',
                'low-pt': 'false',
                'release': '',
                'packages': ''
              }
            });
      - name: Start CMSSW tests
        uses: actions/github-script@v7
        with:
          script: |
            const { owner, repo } = context.repo;
            await github.rest.actions.createWorkflowDispatch({
              owner,
              repo,
              workflow_id: 'cmssw.yml',
              ref: 'CI_branch',
              inputs: {
                'pr-number': '0',
                'required-prs': '',
                'runs-on': 'ubuntu-latest',
                'low-pt': 'false',
                'release': '',
                'packages': ''
              }
            });
